{% for t_tablaAporte in tablaAporte %}
    <tr>
        <td style="text-align: left;"> </td>
        <td>{{ t_tablaAporte[1] }}</td>
        <td>{{ t_tablaAporte[2] }}</td>
        <td>{{ t_tablaAporte[3] }}</td>
        <td>{{ t_tablaAporte[4] }}</td>
        <td style="text-align: center;">
            <button class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square imgEditar"
                    title="Editar"
                    id="btnEditar"
                    data-bs-toggle="modal"
                    data-bs-target="#Aporte-modal"
                    width="18px"                        
                    style="cursor:pointer;"                        
                    data-id="{{ t_tablaAporte[0] }}" ></i>
            </button>

            <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash btnEliminar"                        
                    title="Eliminar"
                    id="btnEliminar"
                    width="18px"
                    style="cursor:pointer;"
                    data-url="{{ url_for('aporte.eli_aporte', code=t_tablaAporte[0]) }}"></i>
            </button>
        </td>
    </tr>
{% endfor %}