{% for concejales_ in deta_concejos %}
    <tr>
        <td style="text-align: left;"> </td>
        <td>{{ concejales_[1] }}</td>
        <td>{{ concejales_[2] }}</td>
        <td>{{ concejales_[3] }}</td>
        <td>{{ concejales_[4] }}</td>
        <td>{{ concejales_[5] }}</td>
        <td>{{ concejales_[6] }}</td>
        <td style="text-align: center;">
            <button class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square imgEditar"
                    title="Editar"
                    id="btnEditar"
                    data-bs-toggle="modal"
                    data-bs-target="#Concejal-modal"
                    width="18px"
                    style="cursor:pointer;"                        
                    data-id="{{ concejales_[0] }}" ></i>
            </button>
            <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash btnEliminar"                        
                    title="Eliminar"
                    id="btnEliminar"
                    width="18px"
                    style="cursor:pointer;"
                    data-url="{{ url_for('concejal.eli_concejal', codigo=concejales_[0]) }}"></i>
            </button>
        </td>
    </tr>        
{% endfor %}