{% for t_taportes in tablaTaportes %}
    <tr>
        <td style="text-align: left;"> </td>
        <td>{{ t_taportes[1] }}</td>
        <td>{{ t_taportes[2] }}</td>
        <td>{{ t_taportes[3] }}</td>
        <td>{{ t_taportes[4] }}</td>
        <td style="text-align: center;">
            <button class="btn btn-warning btn-sm">
                <i class="bi bi-pencil-square imgEditar"
                    title="Editar"
                    id="btnEditar"
                    data-bs-toggle="modal"
                    data-bs-target="#Taporte-modal"
                    width="18px"                        
                    style="cursor:pointer;"                        
                    data-id="{{ t_taportes[0] }}" ></i>
            </button>

            <button class="btn btn-danger btn-sm">
                <i class="bi bi-trash btnEliminar"
                    title="Eliminar"
                    id="btnEliminar"
                    width="18px"
                    style="cursor:pointer;"
                    data-url="{{ url_for('tipoaporte.eli_tipoaporte', code=t_taportes[0]) }}"></i>
            </button>
        </td>
    </tr>
{% endfor %}