<!-- {% if tablaHisto %} -->
    {% for t_historial in tablaHisto %}
        <tr>
            <td style="text-align: center; width: 5%;"> </td>
            <td style="text-align: center; width: 25%;"><i>{{ t_historial[1] }}</i></td>
            <td style="text-align: center; width: 25%;"><i>{{ t_historial[2] }}</i></td>
            <td style="text-align: center; width: 15%;"><i>{{ t_historial[3] }}</i></td>
            <td style="text-align: center; width: 15%;"><i>{{ t_historial[4] }}</i></td>
            <td style="text-align: center; width: 15%;"><i>{{ t_historial[5] }}</i></td>
        </tr>
    {% endfor %}
<!-- {% else %}
        <tr>
            <td colspan="6">Sinnnn registros</td>
        </tr>        
{% endif %} -->